<footer>
    <div class="container">
        <div class="host-by">
            Hosted By <span>Cal's Angels</span>
        </div>
    </div>


    <div class="logo">
        <div class=" container">
            <h5>Powered by</h5>
            <img src="~/auction/images/eventlify-logo-gry.png" alt="">
        </div>

    </div>
    <div class="bottom-links">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Annual Report</a></li>
                <li><a href="#">Financials & Policies</a></li>
            </ul>
        </div>
    </div>

</footer>