@using System.Threading.Tasks
@using Abp.AspNetZeroCore.Timing
@using Abp.Web.Security.AntiForgery
@using NextGen.BiddingPlatform.Timing
@using NextGen.BiddingPlatform.Web.Public.Views.Shared.Components.Header
@using CultureHelper = NextGen.BiddingPlatform.Localization.CultureHelper
@inject AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@model HeaderViewModel
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en" @(CultureHelper.IsRtl ? "dir=\"rtl\"" : "")>
<head>
    <meta charset="utf-8">
    <title>BiddingPlatform</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="BiddingPlatform" name="description">
    <meta content="BiddingPlatform" name="keywords">
    <meta content="BiddingPlatform" name="author">



    <link rel="shortcut icon" href="~/favicon.ico">

    <link href="//db.onlinewebfonts.com/c/433bde376659d1de239a57ec0e97722d?family=Veneer" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="~/auction/css/main.css" rel="stylesheet" />
    <link href="~/auction/css/bootstrap-select.css" rel="stylesheet">
    <link href="~/auction/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
    <link href="~/auction/css/slick.css" rel="stylesheet">
    <link href="~/auction/css/main.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/auction/js/moment.min.js"></script>
    <script type="text/javascript" src="~/auction/js/jquery.plugin.js"></script>
    <script type="text/javascript" src="~/auction/js/jquery.countdown.js"></script>
    <script src="~/auction/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/auction/js/bootstrap-select.js"></script>
    <script src="~/auction/js/slick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="~/auction/js/custom.js"></script>
    <script src="~/auction/js/custom-countdown.js"></script>
    <script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>

</head>
<body>
    <div class="wrapper mp-pusher">
        @await Component.InvokeAsync(typeof(HeaderViewComponent), new { currentPageName = ViewBag.CurrentPageName })
        @RenderBody()
        @await Html.PartialAsync("~/Views/Layout/_Footer.cshtml")
    </div>
    <script type="text/javascript">
        $(function () {
            //Layout.init();
        });
    </script>

    @await RenderSectionAsync("Scripts", false)

</body>

</html>