.mp-pusher {
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    left: 0;
    transition: all 0.5s;
    background-color: #fff;
}

.mp-pusher.lateral-menu-is-open {
    left: -300px;
}

.mp-pusher.lateral-menu-is-open .header-wrapper {
    left: -300px;
}

@media only screen and (min-width: 768px) {
    /* .cd-lateral-nav.lateral-menu-is-open + .mp-pusher header{left: -300px;}*/
    .cd-main-content {
        padding-top: 70px;
    }
}


/*header.lateral-menu-is-open {    
    transform: translateX(300px);
}*/

.cd-menu-trigger {
    position: relative;
}

.cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none;
}

.cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 3px;
    background-color: #000000;
    /* these are the upper and lower lines in the menu menu */
}

.cd-menu-trigger .cd-menu-icon::before,
.cd-menu-trigger .cd-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    left: 0;
}

.cd-menu-trigger .cd-menu-icon::before {
    bottom: 5px;
}

.cd-menu-trigger .cd-menu-icon::after {
    top: 5px;
}

.cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(0, 0, 0, 0);
}

.cd-menu-trigger.is-clicked .cd-menu-icon::before,
.cd-menu-trigger.is-clicked .cd-menu-icon::after {
    background-color: #000000;
}

.cd-menu-trigger.is-clicked .cd-menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-menu-trigger.is-clicked .cd-menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cd-menu-trigger {
    width: auto;
    padding-left: 0px;
}

@media only screen and (min-width: 768px) {
    .cd-menu-trigger .cd-menu-text {
        display: inline-block;
        line-height: 70px;
    }
    .cd-menu-trigger .cd-menu-icon {
        left: auto;
        right: 0px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        color: #000000;
    }
}

.cd-lateral-nav {
    position: fixed;
    height: 100%;
    top: 0;
    visibility: hidden;
    z-index: 100;
    width: 300px;
    background: #fff;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s;
    right: -300px;
    color: #ffffff;
}

.cd-lateral-nav ul li {
    list-style: none;
    position: relative;
    color: #179d86;
    transition: .4s all ease-in-out;
}

.cd-lateral-nav ul li a:hover,
.cd-lateral-nav ul li a:active {
    color: #298fc2;
    opacity: 1;
}

.cd-lateral-nav .cd-navigation {
    margin: 0;
    /*padding: 10px 0;*/
}

.cd-lateral-nav .cd-menu-trigger {
    display: block;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}

.cd-lateral-nav ul li {
    list-style: none;
    text-transform: uppercase;
}

.cd-lateral-nav ul li:not(:last-child) {
    margin-bottom: 12px;
}

.cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px;
}

.cd-lateral-nav .sub-menu {
    padding: 0px;
    display: none;
    background: #f3cb03;
    padding: 20px 0 30px 23px;
}

.cd-lateral-nav li a {
    display: block;
    line-height: 1em;
    padding: 15px 37px 15px 42px;
    color: #373637;
    opacity: 1;
    font-weight: normal;
    font-size: 1.125rem;
    text-transform: capitalize;
}

.cd-lateral-nav li .btn-default {
    margin: 0 1.5rem;
}

.cd-lateral-nav .sub-menu a {
    font-size: 1rem;
    opacity: 1;
    font-weight: 400;
    color: #fff;
    padding: 10px 37px 10px 42px;
}

.cd-lateral-nav a.current {
    color: #555454;
}

.no-touch .cd-lateral-nav a:hover {
    color: #555454;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-lateral-nav .cd-navigation {
        margin: 28px 0;
        padding-left: 0px;
    }
}

.cd-lateral-nav.lateral-menu-is-open {
    right: 0;
    visibility: visible;
    -webkit-overflow-scrolling: touch;
}


/* style menu items which have a submenu  */

.cd-lateral-nav a:hover,
a.submenu-open {
    color: #179d86;
}

.cd-lateral-nav .item-has-children>a {
    position: relative;
}

.cd-lateral-nav a:focus {
    color: #555454;
}

.cd-lateral-nav .item-has-children>a::after {
    content: '';
    display: inline-block;
    bottom: auto;
    transform: translateY(-50%);
    right: 1em;
    content: "\f0da";
    font-family: FontAwesome;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    position: absolute;
    font-size: 15px;
    top: 15px;
}

.cd-lateral-nav .item-has-children>a.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

@media only screen and (max-width: 400px) {
    .cd-lateral-nav {
        width: 250px;
        right: -250px;
    }
    .mp-pusher.lateral-menu-is-open {
        left: -250px;
    }
    .mp-pusher.lateral-menu-is-open .header-wrapper {
        left: -250px;
    }
}

.menu-icon {
    width: 30px;
    height: 18px;
    margin-left: 0px;
    background: transparent;
    border: none;
    position: relative;
}

.menu-icon:hover,
.menu-icon:focus,
.menu-icon:active {
    outline: none;
}

.menu-icon:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.menu-icon:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.menu-icon .hamb-top,
.menu-icon .hamb-middle,
.menu-icon .hamb-bottom,
.menu-icon.is-clicked .hamb-top,
.menu-icon.is-clicked .hamb-middle,
.menu-icon.is-clicked .hamb-bottom {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
}

.cd-lateral-nav .back {
    color: #010101;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 24px;
    padding-top: 20px;
    padding: 20px 0 24px 15px;
}

.cd-lateral-nav .back i {
    margin-right: 20px;
    font-size: 23px;
}

.cd-lateral-nav .back i {
    vertical-align: middle;
}

.cd-lateral-nav i.fa {
    color: #cbc9d4;
}

.cd-lateral-nav .item-has-children>a::after {
    display: none;
}

.cd-lateral-nav.lateral-menu-is-open {
    z-index: 9;
}


/*.cd-lateral-nav ul li:hover a .sub-menu li a{color:#fff;}*/

.cd-lateral-nav .icon.submenu-open :after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 5px;
}

.cd-lateral-nav .icon.submenu-open .fa-angle-right:before {
    display: none;
}

.cd-lateral-nav ul li:active i.fa {
    color: #298fc2;
}

.cd-lateral-nav ul li:hover i.fa {
    color: #298fc2;
}

.cd-lateral-nav .icon.submenu-open :after {
    color: #1b8e72;
}

.cd-lateral-nav .sub-menu li a:hover {
    color: #fff;
    opacity: 0.9;
}

.cd-lateral-nav a.back:hover {
    color: #005e86 !important;
}

.cd-lateral-nav li .btn-default:active,
.cd-lateral-nav li .btn-default:focus,
.cd-lateral-nav li .btn-default.active {
    color: #fff !important;
}