<div appBsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #auctionCreateForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active"
                (submit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"CreateAuction" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-12">
                                <label for="auctionType">{{"AuctionType" | localize}} *</label>
                                <input id="auctionType" #auctionType="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':auction.auctionType}" name="auctionType" [(ngModel)]="event.auctionType"
                                    #email="ngModel" required maxlength="256" >
                                <validation-messages [formCtrl]="auctionType"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="accountId">{{"AccountName" | localize}} *</label>
                                <select #accountId name="accountId" class="form-control bs-select"
                                    [(ngModel)]="auction.accountId">
                                    <option value="" [selected]="isSelected">--Select Account--</option>
                                    <option *ngFor="let account of accountList" [value]="account.uniqueId">
                                        {{account.firstName }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-xl-6">
                                <label for="eventUniqueId">{{"EventName" | localize}} *</label>
                                <select #eventUniqueId name="eventUniqueId" class="form-control bs-select"
                                    [(ngModel)]="auction.eventUniqueId">
                                    <option value="" [selected]="isSelected">--Select Event--</option>
                                    <option *ngFor="let event of eventList" [value]="event.uniqueId">
                                        {{event.eventName }}
                                    </option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-3">
                                <label for="auctionStartTime">{{"AuctionStartTime" | localize}} *</label>
                                <input id="auctionStartTime" type="text" #auctionStartTimeUtc name="auctionStartTime"
                                    class="form-control" bsDatepicker datePickerMomentModifier
                                    [(date)]="auction.auctionStartDateTime">
                            </div>
                            <div class="col-xl-3">
                                <timepicker [(ngModel)]="startTime"  name="startTime"></timepicker>
                            </div>
                            <div class="col-xl-3">
                                <label for="auctionEndTime">{{"AuctionEndTime" | localize}} *</label>
                                <input id="auctionEndTime" type="text" #auctionEndTimeUtc name="auctionEndTime"
                                    class="form-control" bsDatepicker datePickerMomentModifier
                                    [(date)]="auction.auctionEndDateTime">
                            </div>
                            <div class="col-xl-3">
                                <timepicker [(ngModel)]="endTime"  name="endTime"></timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="address1">{{"Address1" | localize}} *</label>
                                <input id="address1" #address1Input="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':event.address.address1}" name="event.address1"
                                    [(ngModel)]="event.address.address1" #address.address1="ngModel" required
                                    maxlength="64">
                                <validation-messages [formCtrl]="address1Input"></validation-messages>
                            </div>
                            <div class="col-xl-6">
                                <label for="address2">{{"Address2" | localize}}</label>
                                <input id="address2" #address2Input="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':event.address.address2}" name="address2"
                                    [(ngModel)]="event.address.address2" #address1="ngModel" maxlength="64">
                                <validation-messages [formCtrl]="address2Input"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="CountryCombobox">{{"CountryName" | localize}} *</label>
                                <select #CountryCombobox name="countryName" class="form-control bs-select"
                                    [(ngModel)]="auction.address.countryUniqueId"
                                    (change)="loadStateList($event.target.value)" required>
                                    <option value="" [selected]="isSelected">--Select Country--</option>
                                    <option *ngFor="let country of countryList" [value]="country.countryUniqueId">
                                        {{country.countryName}}</option>
                                </select>
                                <validation-messages [formCtrl]="CountryCombobox"></validation-messages>
                            </div>
                            <div class="col-xl-6">
                                <label for="StateCombobox">{{"StateName" | localize}} *</label>
                                <select #StateCombobox name="stateName" [disabled]="stateDropdown"
                                    class="form-control bs-select" [(ngModel)]="auction.address.stateUniqueId">
                                    <option value="" [selected]="isSelected">--Select State--</option>
                                    <option *ngFor="let state of stateList.states" [value]="state.stateUniqueId">
                                        {{state.stateName}}
                                    </option>
                                </select>
                                <validation-messages [formCtrl]="StateCombobox"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="city">{{"City" | localize}} *</label>
                                <input id="city" #cityInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':auction.address.city}" name="city"
                                    [(ngModel)]="auction.address.city" #address1="ngModel" required maxlength="64">
                                <validation-messages [formCtrl]="cityInput"></validation-messages>
                            </div>
                            <div class="col-xl-6">
                                <label for="zipCode">{{"ZipCode" | localize}} *</label>
                                <input id="zipCode" #zipCodeInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':auction.address.zipCode}" name="zipCode"
                                    [(ngModel)]="auction.address.zipCode" #address1="ngModel" required maxlength="10"
                                    pattern="^[0-9]\d*$">
                                <validation-messages [formCtrl]="zipCodeInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="!auctionCreateForm.form.valid" type="submit" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')" class="btn btn-primary"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>