<div appBsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModal"
    aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #itemCreateForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active"
                (submit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"CreateItem" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="itemNumber">{{"ItemNumber" | localize}} *</label>
                                <input id="itemNumber" #itemNumberInput="ngModel" class="form-control" type="number"
                                    [ngClass]="{'edited':item.itemNumber}" name="itemNumber"
                                    [(ngModel)]="item.itemNumber" required maxlength="64" min="0" disabled="disabled">
                                <validation-messages [formCtrl]="itemNumberInput"></validation-messages>
                            </div>
                            <div class="col-md-6">
                                <div class="col-xl-6">
                                    <label for="categories">{{"Category" | localize}} *</label>
                                    <select #categoryBox name="item.categoryId" class="form-control bs-select"
                                        [(ngModel)]="item.categoryId" required>
                                        <option value="" [selected]="isSelected">--Select Category--</option>
                                        <option *ngFor="let category of categoryList" [value]="category.id">
                                            {{category.categoryName}}</option>
                                    </select>
                                    <validation-messages [formCtrl]="categoryBox"></validation-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="itemName">{{"ItemName" | localize}} *</label>
                                <input id="itemName" #itemNameInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':item.itemName}" name="itemName" [(ngModel)]="item.itemName"
                                    required maxlength="64">
                                <validation-messages [formCtrl]="itemNameInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="description">{{"Item Description" | localize}} *</label>
                                <textarea #descriptionInput="ngModel" name="description" class="form-control"
                                    id="description" rows="3" [(ngModel)]="item.description"></textarea>
                                <validation-messages [formCtrl]="descriptionInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="procurementState">{{"ProcurementState" | localize}} *</label>
                                <select #procurementStateBox="ngModel" name="procurementState"
                                    class="form-control bs-select" [(ngModel)]="item.procurementState" required>
                                    <option value="" [selected]="isSelected">--Select Procurement State--</option>
                                    <option *ngFor="let pro of dropdowns.procurementStates" [value]="pro.id">
                                        {{pro.name}}</option>
                                </select>
                                <validation-messages [formCtrl]="procurementStateBox"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="donatedBy">{{"Donated By" | localize}}</label>
                                <input id="donatedBy" #donatedByInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':item.donatedBy}" name="donatedBy" [(ngModel)]="item.donatedBy"
                                    maxlength="64" min="0">
                                <validation-messages [formCtrl]="donatedByInput"></validation-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="startingBidValue">{{"Starting Bid (Price)" | localize}} *</label>
                                <input id="startingBidValue" #startingBidValueInput="ngModel" class="form-control"
                                    type="text" [ngClass]="{'edited':item.startingBidValue}" name="startingBidValue"
                                    [(ngModel)]="item.startingBidValue" required>
                                <validation-messages [formCtrl]="startingBidValueInput"></validation-messages>
                            </div>
                            <div class="col-md-6">
                                <label for="expense">{{"Expense" | localize}} *</label>
                                <input id="expense" #expenseInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':item.expense}" name="expense" [(ngModel)]="item.expense"
                                    required>
                                <validation-messages [formCtrl]="expenseInput"></validation-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="fairMarketValue_FMV">{{"Fair Market Value (FMV)" | localize}} *</label>
                                <input id="fairMarketValue_FMV" #fairMarketValue_FMVInput="ngModel" class="form-control"
                                    type="text" [ngClass]="{'edited':item.fairMarketValue_FMV}"
                                    name="fairMarketValue_FMV" [(ngModel)]="item.fairMarketValue_FMV" required>
                                <validation-messages [formCtrl]="fairMarketValue_FMVInput"></validation-messages>
                            </div>
                            <div class="col-md-6">
                                <div class="kt-radio-inline">
                                    <label for="Show_Item" class="kt-radio">
                                        <input id="Show_Item" name="isHide" [(ngModel)]="item.isHide" [value]="true"
                                            type="radio">
                                        {{"Show Item" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Hide_Item" class="kt-radio">
                                        <input id="Hide_Item" name="isHide" [(ngModel)]="item.isHide" [value]="false"
                                            type="radio">
                                        {{"Hide Item" | localize}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="account">{{"Account" | localize}} *</label>
                                <select #accountBox name="account" class="form-control bs-select"
                                    [(ngModel)]="item.appAccountUniqueId" required>
                                    <option value="" [selected]="isSelected">--Select Account--</option>
                                    <option *ngFor="let account of accountList" [value]="account.uniqueId">
                                        {{account.firstName}}</option>
                                </select>
                                <validation-messages [formCtrl]="accountBox"></validation-messages>
                            </div>
                            <div class="col-xl-6">
                                <label for="itemCertificateNotes">{{"ItemCertificateNotes" | localize}}</label>
                                <input id="itemCertificateNotes" #itemCertificateNotesInput="ngModel"
                                    class="form-control" type="text" [ngClass]="{'edited':item.itemCertificateNotes}"
                                    name="itemCertificateNotes" [(ngModel)]="item.itemCertificateNotes"
                                    #address1="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                           
                            <div class="col-xl-4">
                                <label for="itemStatus">{{"ItemStatus" | localize}} *</label>
                                <select #itemStatusBox name="itemStatus" class="form-control bs-select"
                                    [(ngModel)]="item.itemStatus" rsequired>
                                    <option value="" [selected]="isSelected">--Select Item Status--</option>
                                    <option *ngFor="let status of dropdowns.itemStatus" [value]="status.id">
                                        {{status.name}}</option>
                                </select>
                                <validation-messages [formCtrl]="itemStatusBox"></validation-messages>
                            </div>
                            <div class="col-xl-4">
                                <label for="visibility">{{"Visibility" | localize}} *</label>
                                <select #visibilityBox name="visibility" class="form-control bs-select"
                                    [(ngModel)]="item.visibility" required>
                                    <option value="" [selected]="isSelected">--Select Visibility--</option>
                                    <option *ngFor="let visi of dropdowns.visibilities" [value]="visi.id">
                                        {{visi.name}}</option>
                                </select>
                                <validation-messages [formCtrl]="visibilityBox"></validation-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="fairMarketValue_FMV">{{"FairMarketValue_FMV" | localize}} *</label>
                                <input id="fairMarketValue_FMV" #fairMarketValue_FMVInput="ngModel" class="form-control"
                                    type="text" [ngClass]="{'edited':item.fairMarketValue_FMV}"
                                    name="fairMarketValue_FMV" [(ngModel)]="item.fairMarketValue_FMV" required>
                                <validation-messages [formCtrl]="fairMarketValue_FMVInput"></validation-messages>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="bidStepIncrementValue">{{"BidStepIncrementValue" | localize}} *</label>
                                <input id="bidStepIncrementValue" #bidStepIncrementValueInput="ngModel"
                                    class="form-control" type="text" [ngClass]="{'edited':item.bidStepIncrementValue}"
                                    name="bidStepIncrementValue" [(ngModel)]="item.bidStepIncrementValue" required>
                                <validation-messages [formCtrl]="bidStepIncrementValueInput"></validation-messages>
                            </div>
                            <div class="col-xl-6">
                                <label for="acquisitionValue">{{"AcquisitionValue" | localize}}</label>
                                <input id="acquisitionValue" #acquisitionValueInput="ngModel" class="form-control"
                                    type="text" [ngClass]="{'edited':item.acquisitionValue}" name="acquisitionValue"
                                    [(ngModel)]="item.acquisitionValue" required>
                                <validation-messages [formCtrl]="acquisitionValueInput"></validation-messages>
                            </div>
                        </div>
                    </div> -->


                    <div class="form-group">
                        <label for="logo">{{"MainImage" | localize}}</label>
                        <!--ng2FileSelect [uploader]="logoUploader"  -->
                        <input type="file" #inputFile class="col-xl-12" (change)="onSelectedFile($event, true)"
                            required />
                    </div>
                    <button class="btn btn-default" type="button" (click)="clearLogo()">{{"Clear" | localize}}</button>
                    <br />
                    <br />
                    <div class="row">
                        <label for="logoMultple" class="col-xl-12">{{"AdditionalImages" | localize}}</label>
                    </div>
                    <div class="row" style="border: 1px solid #ccc; padding-top: 20px;">
                        <div class="form-group col-4">
                            <input type="file" multiple #inputMultiple (change)="onSelectedFile($event, false)"
                                class="col-xl-12" />
                        </div>
                        <div class="form-group col-4">
                            <input type="file" multiple #inputMultiple (change)="onSelectedFile($event, false)"
                                class="col-xl-12" />
                        </div>
                        <div class="form-group col-4">
                            <input type="file" multiple #inputMultiple (change)="onSelectedFile($event, false)"
                                class="col-xl-12" />
                        </div>
                        <div class="form-group col-4">
                            <input type="file" multiple #inputMultiple (change)="onSelectedFile($event, false)"
                                class="col-xl-12" />
                        </div>
                        <div class="form-group col-4">
                            <input type="file" multiple #inputMultiple (change)="onSelectedFile($event, false)"
                                class="col-xl-12" />
                        </div>
                        <div class="form-group col-4">
                            <input type="file" multiple #inputMultiple (change)="onSelectedFile($event, false)"
                                class="col-xl-12" />
                        </div>
                    </div>

                    <!-- (click)="clearAdditionalImages()" -->
                    <button class="btn btn-default" (click)="clearAddImg()" type="button">{{"Clear" |
                        localize}}</button>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="!itemCreateForm.form.valid" type="submit" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')" class="btn btn-primary"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>