<div appBsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal"
    aria-hidden="true" [config]="{ backdrop : 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #itemEditForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active"
                (submit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"EditItem" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="itemNumber">{{"ItemNumber" | localize}} *</label>
                                <input id="itemNumber" #itemNumberInput="ngModel" class="form-control" type="number"
                                    [ngClass]="{'edited':item.itemNumber}" name="itemNumber"
                                    [(ngModel)]="item.itemNumber" required maxlength="64" min="0" disabled="disabled">
                                <validation-messages [formCtrl]="itemNumberInput"></validation-messages>
                            </div>
                            <div class="col-md-6">
                                <div class="col-xl-6">
                                    <label for="categories">{{"Category" | localize}} *</label>
                                    <select #categoryBox name="item.categoryId" class="form-control bs-select"
                                        [(ngModel)]="item.categoryId" required>
                                        <option value="" [selected]="isSelected">--Select Category--</option>
                                        <option *ngFor="let category of categoryList" [value]="category.id">
                                            {{category.categoryName}}</option>
                                    </select>
                                    <validation-messages [formCtrl]="categoryBox"></validation-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="itemName">{{"ItemName" | localize}} *</label>
                                <input id="itemName" #itemNameInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':item.itemName}" name="itemName" [(ngModel)]="item.itemName"
                                    required maxlength="64">
                                <validation-messages [formCtrl]="itemNameInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="description">{{"Item Description" | localize}} *</label>
                                <textarea #descriptionInput="ngModel" name="description" class="form-control"
                                    id="description" rows="3" [(ngModel)]="item.description"></textarea>
                                <validation-messages [formCtrl]="descriptionInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="procurementState">{{"ProcurementState" | localize}} *</label>
                                <select #procurementStateBox="ngModel" name="procurementState"
                                    class="form-control bs-select" [(ngModel)]="item.procurementState" required>
                                    <option value="" [selected]="isSelected">--Select Procurement State--</option>
                                    <option *ngFor="let pro of procurementState" [value]="pro.id">
                                        {{pro.name}}</option>
                                </select>
                                <validation-messages [formCtrl]="procurementStateBox"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="donatedBy">{{"Donated By" | localize}}</label>
                                <input id="donatedBy" #donatedByInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':item.donatedBy}" name="donatedBy" [(ngModel)]="item.donatedBy"
                                    maxlength="64" min="0">
                                <validation-messages [formCtrl]="donatedByInput"></validation-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="startingBidValue">{{"Starting Bid (Price)" | localize}} *</label>
                                <input id="startingBidValue" #startingBidValueInput="ngModel" class="form-control"
                                    type="text" [ngClass]="{'edited':item.startingBidValue}" name="startingBidValue"
                                    [(ngModel)]="item.startingBidValue" required>
                                <validation-messages [formCtrl]="startingBidValueInput"></validation-messages>
                            </div>
                            <div class="col-md-6">
                                <label for="expense">{{"Expense" | localize}} *</label>
                                <input id="expense" #expenseInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':item.expense}" name="expense" [(ngModel)]="item.expense"
                                    required>
                                <validation-messages [formCtrl]="expenseInput"></validation-messages>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="fairMarketValue_FMV">{{"Fair Market Value (FMV)" | localize}} *</label>
                                <input id="fairMarketValue_FMV" #fairMarketValue_FMVInput="ngModel" class="form-control"
                                    type="text" [ngClass]="{'edited':item.fairMarketValue_FMV}"
                                    name="fairMarketValue_FMV" [(ngModel)]="item.fairMarketValue_FMV" required>
                                <validation-messages [formCtrl]="fairMarketValue_FMVInput"></validation-messages>
                            </div>
                            <div class="col-md-6">
                                <div class="kt-radio-inline">
                                    <label for="Show_Item" class="kt-radio">
                                        <input id="Show_Item" name="isShow" [(ngModel)]="item.isShow" [value]="true"
                                            type="radio">
                                        {{"Show Item" | localize}}
                                        <span></span>
                                    </label>
                                    <label for="Hide_Item" class="kt-radio">
                                        <input id="Hide_Item" name="isShow" [(ngModel)]="item.isShow" [value]="false"
                                            type="radio">
                                        {{"Hide Item" | localize}}
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="logo">{{"MainImage" | localize}}</label>
                        <div #imageViewSection *ngIf="item.mainImageName !== null && item.mainImageName.length > 0">
                            <img src="{{webHostUrl}}{{item.mainImageName}}" alt="logo" height="250" width="250" />
                        </div>
                        <div *ngIf="item.mainImageName == null || item.mainImageName.length == 0">
                            <input id="logo" #inputFile type="file" class="col-lg-12"
                                (change)="onSelectedFile($event, true)"/>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" (click)="clearLogo()">{{"Clear" | localize}}</button>
                    <br />
                    <br />
                    <div class="form-group">
                        <label for="logoMultple">{{"AdditionalImages" | localize}}</label>
                        <div class="row" style="border: 1px solid #ccc; padding: 20px 0px;">
                            <div *ngFor="let img of additionalImgs; let index=i" class="col-4">
                                <div *ngIf="img.id > 0">
                                    <img src="{{img.filename}}" alt="logo" style="max-width: 100%;" />
                                    <button class="btn btn-default" (click)="clearAddImg(img.id)" type="button">{{"Clear" |
                                        localize}}</button>
                                </div>
                                <div *ngIf="img.id === 0">
                                    <input type="file" (change)="onSelectedFile($event, false)"/>
                                </div>
                            </div>

                        </div>
                        <!-- <div *ngIf="additionalImgs.length === 0"> -->
                        <!-- <input type="file" multiple (change)="onSelectedFile($event, false)" class="col-xl-12" /> -->
                        <!-- </div> -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="!itemEditForm.form.valid" type="submit" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')" class="btn btn-primary"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>