<script id="auctionHistoryTemplate" type="x-tmpl-mustache">
    <div class="item-history">
        <div class="pl-10 pr-10">
            <ul>
                <li>
                    <div class="name">{{bidderName}}</div>
                    <div class="date-time">
                        {{biddingDate}}  <span>{{biddingTime}}</span>
                    </div>
                </li>
                <li>${{bidAmount}} </li>
            </ul>
        </div>
    </div>
</script>
