<script id="auctionItemTemplate" type="x-tmpl-mustache">
    {{#isClosedItemStatus}}
    <div class="col-lg-4 col-sm-6">
        <div class="golf-event closed" data-id="{{auctionItemId}}" data-is-closed-auction="true" data-itemstatus="{{itemStatus}}">
            <div class="item-section-border">
            <div class="image">
                <img src="{{imageName}}" alt="">
                <div class="numeric">{{itemNumber}}</div>
                <a href="#" id="setFavoriteItem" class="wishlist {{isFavorite}}"></a>
                <div class="event-close"><span>CLOSED</span></div>
            </div>
            <div class="desc">
                <p class="name">{{itemName}}</p>
               
                <ul>
                    {{#isBiddingStarted}}
                    <li>
                        Last Bid:
                        <span>$ {{lastBidAmount}}</span>
                    </li>
                    {{/isBiddingStarted}}
                    @*<li></li>*@
                    <li>
                        Time Left:
                        <span>{{remainingDays}} day {{remainingTime}} hrs</span>
                    </li>
                </ul>
                <button class="btn btn-primary" id="viewItem" style="cursor:pointer">View Details</button>
            </div>
        </div>
        </div>
    </div>
    {{/isClosedItemStatus}}
    {{^isClosedItemStatus}}
    <div class="col-lg-4 col-sm-6">
        <div class="golf-event" data-id="{{auctionItemId}}" data-is-closed-auction="false" data-itemstatus="{{itemStatus}}">
            <div class="item-section-border">
            <div class="image">
                <img src="{{imageName}}" alt="">
                <div class="numeric">{{itemNumber}}</div>
                <a href="#" id="setFavoriteItem" class="wishlist {{isFavorite}}"></a>
            </div>
            <div class="desc">
                <p class="name">{{itemName}}</p>
                <ul>
                   {{#isBiddingStarted}}
                    <li>
                        Last Bid:
                        <span>$ {{lastBidAmount}}</span>
                    </li>
                    {{/isBiddingStarted}}
                    <li>
                        Time Left:
                        {{#IsDaysGreaterThan1}}
                        <span>{{remainingTime}} hrs</span>
                        {{/IsDaysGreaterThan1}}
                        {{^IsDaysGreaterThan1}}
                        <span>{{remainingDays}} days</span>
                        {{/IsDaysGreaterThan1}}

                    </li>
                </ul>
                <button class="btn btn-primary" id="viewItem" style="cursor:pointer">View Details</button>
            </div>
        </div>
        </div>
    </div>
    {{/isClosedItemStatus}}
</script>