<div class="inner-wrapper">
    <div class="content-wrapper">
        <div class="container position-relative current-bids">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link text-uppercase" href="#">Current Bids</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">Watch List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#">Recently Viewed</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="current-bid-section">
                <div class="row mt-20 position-relative" style="margin-left:0; margin-right:0px;">
                    <div class="col-md-3">
                        <img src="~/Common/Images/sidebarimage.png" style="max-width:100%" />
                        <div class="abs-item-id">123</div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <h5 class="item-title">Wilson Launchpad</h5>
                            <div class="timmer-section"><img src="~/Common/Images/timer.png" style="width:18px;" />  <span>5 days 12:35 hours</span></div>
                            <div class="bidding-info row">
                                <div class="col-md-5 winning-section">
                                    <span>Current Bid:</span>
                                    <h5 class="winning-amt">$4,000.00</h5>
                                </div>
                                <div class="col-md-7 winning-btn-section">
                                    <div class="winning-right-btn">Winning</div>
                                    <button class="btn btn-primary" style="text-transform:uppercase;max-width:200px;">View Detail</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="current-bid-section">
                <div class="row mt-20 position-relative" style="margin-left:0; margin-right:0px;">
                    <div class="col-md-3">
                        <img src="~/Common/Images/sidebarimage.png" style="max-width:100%" />
                        <div class="abs-item-id">123</div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <h5 class="item-title">Wilson Launchpad</h5>
                            <div class="timmer-section"><img src="~/Common/Images/timer.png" style="width:18px;" />  <span>5 days 12:35 hours</span></div>
                            <div class="bidding-info row">
                                <div class="col-md-5 winning-section">
                                    <span>Current Bid:</span>
                                    <h5 class="winning-amt red">$4,000.00</h5>
                                </div>
                                <div class="col-md-7 winning-btn-section">
                                    <div class="winning-right-btn red">outbid</div>
                                    <button class="btn btn-primary" style="text-transform:uppercase;max-width:200px;">Bid Again</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="current-bid-section">
                <div class="row mt-20 position-relative" style="margin-left:0; margin-right:0px;">
                    <div class="col-md-3">
                        <img src="~/Common/Images/sidebarimage.png" style="max-width:100%" />
                        <div class="abs-item-id">123</div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <h5 class="item-title">Wilson Launchpad</h5>
                            <div class="timmer-section"><img src="~/Common/Images/timer.png" style="width:18px;" />  <span>5 days 12:35 hours</span></div>
                            <div class="bidding-info row">
                                <div class="col-md-5 winning-section">
                                    <span>Current Bid:</span>
                                    <h5 class="winning-amt">$4,000.00</h5>
                                </div>
                                <div class="col-md-7 winning-btn-section">
                                    <div class="winning-right-btn">Winning</div>
                                    <button class="btn btn-primary" style="text-transform:uppercase;max-width:200px;">View Detail</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="current-bid-section">
                <div class="row mt-20 position-relative" style="margin-left:0; margin-right:0px;">
                    <div class="col-md-3">
                        <img src="~/Common/Images/sidebarimage.png" style="max-width:100%" />
                        <div class="abs-item-id">123</div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <h5 class="item-title">Wilson Launchpad</h5>
                            <div class="timmer-section"><img src="~/Common/Images/timer.png" style="width:18px;" />  <span>5 days 12:35 hours</span></div>
                            <div class="bidding-info row">
                                <div class="col-md-5 winning-section">
                                    <span>Current Bid:</span>
                                    <h5 class="winning-amt red">$4,000.00</h5>
                                </div>
                                <div class="col-md-7 winning-btn-section">
                                    <div class="winning-right-btn red">outbid</div>
                                    <button class="btn btn-primary" style="text-transform:uppercase;max-width:200px;">Bid Again</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="current-bid-section">
                <div class="row mt-20 position-relative" style="margin-left:0; margin-right:0px;">
                    <div class="col-md-3">
                        <img src="~/Common/Images/sidebarimage.png" style="max-width:100%" />
                        <div class="abs-item-id">123</div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <h5 class="item-title">Wilson Launchpad</h5>
                            <div class="timmer-section"><img src="~/Common/Images/timer.png" style="width:18px;" />  <span>5 days 12:35 hours</span></div>
                            <div class="bidding-info row">
                                <div class="col-md-5 winning-section">
                                    <span>Current Bid:</span>
                                    <h5 class="winning-amt">$4,000.00</h5>
                                </div>
                                <div class="col-md-7 winning-btn-section">
                                    <div class="winning-right-btn">Winning</div>
                                    <button class="btn btn-primary" style="text-transform:uppercase;max-width:200px;">View Detail</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>