<div class="inner-wrapper">
    <div class="search-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 search">
                    <form>
                        <input type="text" class="form-control" placeholder="Search with name or item #">
                        <a href="#" class="search-btn">
                            <img src="~/auction/images/svg/search-icon.svg" alt="">
                        </a>
                    </form>
                </div>
                <div class="col-md-6 categories">

                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Categories:<span>All</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul>
                                <li>Categories: <span>All</span></li>
                                <li><a href="#">All</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Entertainment</a></li>
                                <li><a href="#">Music</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li>Art & Collectibles</li>
                                <li><a href="#">Travel</a></li>
                                <li><a href="#">Fod & Wine</a></li>
                            </ul>
                            <a href="#" class="remove-dropdown">
                                <img src="~/auction/images/svg/cross-icon.svg" alt="">
                            </a>

                        </div>
                    </div>

                    <div class="icon">
                        <img src="~/auction/images/svg/category-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-name">
        <div class="container position-relative">
            golf club
            <a href="#" class="remove-bar">
                <img src="~/auction/images/svg/cross-icon.svg" alt="">
            </a>
        </div>
    </div>
    <div class="content-wrapper have-sidename">

        <div class="container position-relative">
            <div class="side-name">
                Silent Auctions
            </div>
            <div class="inner-topbar">
                <div class="search-result">
                    Search Results <span>(9)</span>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/auction/images/svg/vertical-icon.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/auction/images/svg/two-product-icon.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row col-gap-20">
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event closed">
                        <div class="image">
                            <img src="~/auction/images/event-img-1.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist"></a>
                            <div class="event-close"><span>CLOSED</span></div>
                        </div>
                        <div class="desc">
                            <p class="name">Wilson LaunchPad <br> (Owned by Stephen Amell)</p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    FMV:
                                    <span>$4,000.00</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event">
                        <div class="image">
                            <img src="~/auction/images/event-img-2.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist liked"></a>
                        </div>
                        <div class="desc">
                            <p class="name">Vintage " Nos "Neil Martin" Golf Set In</p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    Time Left:
                                    <span>1 day 21:16 hrs</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event">
                        <div class="image">
                            <img src="~/auction/images/event-img-3.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist"></a>
                        </div>
                        <div class="desc">
                            <p class="name">
                                First Annual Invitation <br> Tournament
                            </p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    Time Left:
                                    <span>1 day 21:16 hrs</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event closed">
                        <div class="image">
                            <img src="~/auction/images/event-img-1.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist"></a>
                            <div class="event-close"><span>CLOSED</span></div>
                        </div>
                        <div class="desc">
                            <p class="name">Wilson LaunchPad <br> (Owned by Stephen Amell)</p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    FMV:
                                    <span>$4,000.00</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event">
                        <div class="image">
                            <img src="~/auction/images/event-img-2.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist liked"></a>
                        </div>
                        <div class="desc">
                            <p class="name">Vintage " Nos "Neil Martin" Golf Set In</p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    Time Left:
                                    <span>1 day 21:16 hrs</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event">
                        <div class="image">
                            <img src="~/auction/images/event-img-3.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist"></a>
                        </div>
                        <div class="desc">
                            <p class="name">
                                First Annual Invitation <br> Tournament
                            </p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    Time Left:
                                    <span>1 day 21:16 hrs</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event closed">
                        <div class="image">
                            <img src="~/auction/images/event-img-1.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist"></a>
                            <div class="event-close"><span>CLOSED</span></div>
                        </div>
                        <div class="desc">
                            <p class="name">Wilson LaunchPad <br> (Owned by Stephen Amell)</p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    FMV:
                                    <span>$4,000.00</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event">
                        <div class="image">
                            <img src="~/auction/images/event-img-2.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist liked"></a>
                        </div>
                        <div class="desc">
                            <p class="name">Vintage " Nos "Neil Martin" Golf Set In</p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    Time Left:
                                    <span>1 day 21:16 hrs</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="golf-event">
                        <div class="image">
                            <img src="~/auction/images/event-img-3.png" alt="">
                            <div class="numeric">123</div>
                            <a href="#" class="wishlist"></a>
                        </div>
                        <div class="desc">
                            <p class="name">
                                First Annual Invitation <br> Tournament
                            </p>
                            <ul>
                                <li>
                                    Last Bid:
                                    <span>$4,000.00</span>
                                </li>
                                <li>
                                    Time Left:
                                    <span>1 day 21:16 hrs</span>
                                </li>
                            </ul>
                        </div>
                        <!-- <a href="#" class="abs-link"></a> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    


