@using Microsoft.AspNetCore.Hosting
@using NextGen.BiddingPlatform.Configuration
@using Microsoft.Extensions.Configuration
@inject IWebHostEnvironment env
@{
    var appConfiguration = env.GetAppConfiguration();
    var apiServerPath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:ApiWebSiteRootAddress", string.Empty);
    var webSitePath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:WebSiteRootAddress", string.Empty);
}
<div class="inner-wrapper">
    <div class="search-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 search">
                    <form>
                        <input type="text" class="form-control" id="txtSearch" placeholder="Search with name or item #">
                        <a href="#" class="search-btn">
                            <img src="~/auction/images/svg/search-icon.svg" alt="">
                        </a>
                    </form>
                </div>
                <div class="col-md-6 categories">

                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Categories:<span id="selectedCategory">All</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul id="categories">
                                <li>Categories: <span>All</span></li>
                                <li><a href="#" class="active">All</a></li>
                            </ul>
                            <a href="#" class="remove-dropdown">
                                <img src="~/auction/images/svg/cross-icon.svg" alt="">
                            </a>

                        </div>
                    </div>

                    <div class="icon">
                        <img src="~/auction/images/svg/category-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="page-name">
        <div class="container position-relative">
            golf club
            <a href="#" class="remove-bar">
                <img src="~/auction/images/svg/cross-icon.svg" alt="">
            </a>
        </div>
    </div>*@
    <div class="content-wrapper have-sidename">
        <div class="container position-relative">
            <div class="side-name">
                Silent Auctions
            </div>
            <div class="inner-topbar">
                <div class="search-result">
                    Search Results <span id="itemCount"></span>
                </div>
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/auction/images/svg/vertical-icon.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/auction/images/svg/two-product-icon.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row col-gap-20" id="auctionItems">
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var ApiServerPath = "@apiServerPath";
        var WebSiteUrl = "@webSitePath";
        var IsLoggedInUser = "@ViewBag.IsLoggedInUser".toLowerCase();
    </script>
    <script src="~/auction/js/auctionitems.js"></script>
}