<div class="inner-wrapper">

    <div class="content-wrapper have-sidename pt-80">

        <div class="container position-relative">
            <div class="side-name v-center">
                Silent Auctions
            </div>
            <div class="event-details">
                <div class="row col-gap-20 align-items-center">
                    <div class="col-lg-8 col-md-7">
                        <div class="golf-event bg-transparent box-shadow-n">

                            <div class="event-slider slick-instance slider-loader" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "arrows": true, "infinite": false, "dots": false, "autoplay": true}'>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 mt--81">
                        <div class="countdown-wrapper">
                            <img src="~/auction/images/timer-icon.png" alt="">
                            <span class="time-left">time left</span>
                            <div id="defaultCountdown"></div>
                        </div>
                        <div class="golf-event details">
                            <div class="desc border-bottom-0 mb-0 pb-0">
                                <p class="name">Wilson Launchpad <br> (owned by Stephen Amell)</p>
                                <ul>
                                    <li>
                                        Last Bid:
                                        <span>$4,000.00</span>
                                    </li>
                                    <li>
                                        FMV:
                                        <span>$200.00</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        # of Bids:
                                        <span>26</span>
                                    </li>
                                    <li>
                                        # of Watchers:
                                        <span>5</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="desc mt-0 b bid">
                                <h5 class="green-color">PLACE A BID</h5>
                                <div class="form-group">
                                    <div class="d-flex align-items-center justify-content-between mb-10">
                                        <label class="control-label mb-0">
                                            Minimum bid: <span>4,200.00</span>
                                        </label>
                                        <span href="#" class="red-pill">
                                            Autofill
                                        </span>
                                    </div>
                                    <div class="position-relative">
                                        <input type="number" class="form-control"></input>
                                        <span class="currency">$</span>
                                    </div>
                                </div>

                                <div class="button-row">
                                    <a href="#" class="btn btn-primary">BID NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-gap-20 mt-20">
                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="inner pb-0">
                            <div class="card-heading">
                                Item Description
                            </div>
                            <p class="desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proiden.
                            </p>
                            <p class="desc mb-70">
                                Punt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                            </p>
                            <div class="share-wrapper">
                                <div class="text">
                                    Share this:
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" class="fb"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="o-social"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="share"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="card">
                        <div class="inner pb-0 pl-0 pr-0">
                            <div class="card-heading d-flex pl-10 pr-10">
                                Item History
                                <a href="#" class="add-item">
                                    <img src="~/auction/images/plus-icon.png" alt="">
                                </a>
                            </div>
                            <div class="item-history">
                                <div class="pl-10 pr-10">
                                    <ul>
                                        <li>
                                            <div class="name">Anonymous</div>
                                            <div class="date-time">
                                                02-27-2020 <span>2:55pm</span>
                                            </div>
                                        </li>
                                        <li>$500.00</li>
                                    </ul>
                                </div>
                                <div class="pl-10 pr-10">
                                    <ul>
                                        <li>
                                            <div class="name">Anonymous</div>
                                            <div class="date-time">
                                                02-27-2020 <span>2:55pm</span>
                                            </div>
                                        </li>
                                        <li>$500.00</li>
                                    </ul>
                                </div>
                                <div class="pl-10 pr-10">
                                    <ul>
                                        <li>
                                            <div class="name">Anonymous</div>
                                            <div class="date-time">
                                                02-27-2020 <span>2:55pm</span>
                                            </div>
                                        </li>
                                        <li>$500.00</li>
                                    </ul>
                                </div>
                                <div class="pl-10 pr-10">
                                    <ul>
                                        <li>
                                            <div class="name">Anonymous</div>
                                            <div class="date-time">
                                                02-27-2020 <span>2:55pm</span>
                                            </div>
                                        </li>
                                        <li>$500.00</li>
                                    </ul>
                                </div>
                                <div class="pl-10 pr-10">
                                    <ul>
                                        <li>
                                            <div class="name">Anonymous</div>
                                            <div class="date-time">
                                                02-27-2020 <span>2:55pm</span>
                                            </div>
                                        </li>
                                        <li>$500.00</li>
                                    </ul>
                                </div>
                                <div class="pl-10 pr-10">
                                    <ul>
                                        <li>
                                            <div class="name">Anonymous</div>
                                            <div class="date-time">
                                                02-27-2020 <span>2:55pm</span>
                                            </div>
                                        </li>
                                        <li>$500.00</li>
                                    </ul>
                                </div>
                                <div class="pl-10 pr-10">
                                    <ul>
                                        <li>
                                            <div class="name">Anonymous</div>
                                            <div class="date-time">
                                                02-27-2020 <span>2:55pm</span>
                                            </div>
                                        </li>
                                        <li>$500.00</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
