@using Microsoft.AspNetCore.Hosting
@using NextGen.BiddingPlatform.Configuration
@using Microsoft.Extensions.Configuration
@inject IWebHostEnvironment env
@{
    var appConfiguration = env.GetAppConfiguration();
    var apiServerPath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:ApiWebSiteRootAddress", string.Empty);
    var webSitePath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:WebSiteRootAddress", string.Empty);
}
<div class="inner-wrapper">
    <div class="content-wrapper have-sidename pt-80">
        <div class="container position-relative">
            <div class="side-name v-center">
                Silent Auctions
            </div>
            <div class="event-details">
                <div class="row col-gap-20 align-items-center">
                    <div class="col-lg-8 col-md-7">
                        <div class="golf-event bg-transparent box-shadow-n">
                            <div class="event-slider slick-instance slider-loader" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "arrows": true, "infinite": false, "dots": false, "autoplay": true}'>
                                <div class="image">
                                    <img src="" alt="" id="itemImage">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 mt--81">
                        <div class="countdown-wrapper">
                            <img src="~/auction/images/timer-icon.png" alt="">
                            <span class="time-left">time left</span>
                            <div id="defaultCountdown"></div>
                        </div>
                        <div class="golf-event details">
                            <div class="desc border-bottom-0 mb-0 pb-0">
                                <input type="hidden" id="auctionItemId" value="@ViewBag.AuctionItemId" />
                                <input type="hidden" id="itemStatus" value="@ViewBag.ItemStatus" />
                                <input type="hidden" id="currentUserAuctionHistoryCount" value="0" />
                                <input type="hidden" id="auctionBidderId" value="0" />
                                <input type="hidden" id="auctionBidderName" value="" />
                                <p id="bidderNameFromDb"></p>
                                <p class="name"></p>
                                <ul>
                                    <li>
                                        Last Bid:
                                        <span id="lastBidAmount">$0.0</span>
                                    </li>
                                    <li>
                                        FMV:
                                        <span id="fmvValue">$0.0</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        # of Bids:
                                        <span id="totalBids">0</span>
                                    </li>
                                    <li>
                                        # of Watchers:
                                        <span>5</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="desc mt-0 b bid">
                                <h5 class="green-color">PLACE A BID</h5>
                                <div class="form-group">
                                    <div class="d-flex align-items-center justify-content-between mb-10">
                                        <label class="control-label mb-0">
                                            Minimum bid: <span id="minimumBidValue">$0.0</span>
                                        </label>
                                        <span href="#" class="red-pill">
                                            Autofill
                                        </span>
                                    </div>
                                    <div class="position-relative">
                                        <input type="number" class="form-control" id="biddingAmount" />
                                        <span class="currency">$</span>
                                    </div>
                                </div>

                                <div class="button-row">
                                    <a href="javascript:void();" class="btn btn-primary" id="bidNowBtn" data-minimumBidAmount="">BID NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-gap-20 mt-20">
                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="inner pb-0">
                            <div class="card-heading">
                                Item Description
                            </div>
                            <p class="desc" id="itemDescription">
                            </p>
                            <div class="share-wrapper">
                                <div class="text">
                                    Share this:
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" class="fb"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="o-social"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="share"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="card">
                        <div class="inner pb-0 pl-0 pr-0" id="itemHistories">
                            <div class="card-heading d-flex pl-10 pr-10">
                                Item History
                                <a href="#" class="add-item">
                                    <img src="~/auction/images/plus-icon.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="display:inline !important;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Auction Bidder</h4>
            </div>
            <div class="modal-body">
                <label for="bidderName">Bidder Name:</label>
                <input type="text" id="bidderName" class="form-control" />
                <span id="errorMessage" class="alert-danger" style="display:none;color:red;">This field is required</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="saveBidderBtn">Save</button>
            </div>
        </div>

    </div>
</div>
<script>
    var ApiServerPath = "@apiServerPath";
    var WebSiteUrl = "@webSitePath";
    $(document).on("click", "#bidNowBtn", function (e) {
        e.preventDefault();
        //first check if current User histroy count is 0 then open popup and get current user name
        var minimumBidValue = parseFloat($(this).attr("data-minimumBidAmount"));
        var currBidValue = parseFloat($("#biddingAmount").val());
        if (isNaN(currBidValue)) {
            alert("Please enter minimum bid amount");
            return false;
        }
        if (minimumBidValue > currBidValue) {
            alert("Bid amount should be greater than minimum bid amount");
            return false;
        }
        else {
            var historyCount = parseInt($("#currentUserAuctionHistoryCount").val());
            if (historyCount === 0) {
                //open popup and then save the auction bidder with auction history
                $("#myModal").modal("show");
            }
            else {
                //save only auction history
                SaveAuctionBidderFirstThenHistory($("#auctionBidderName").val());
            }
        }
    });

    $(document).on("click", "#saveBidderBtn", function () {
        var bidderName = $("#bidderName").val();
        if (bidderName == "")
        {
            $("#errorMessage").show();
        }
        else {
            $("#errorMessage").hide();
            SaveAuctionBidderFirstThenHistory(bidderName);
        }
    });
    function SaveAuctionBidderFirstThenHistory(bidderName) {
        var auctionHistoryDto = {
            bidderName: bidderName,
            auctionItemId: $("#auctionItemId").val(),
            bidAmount: parseFloat($("#biddingAmount").val()),
            auctionBidderId: parseInt($("#auctionBidderId").val())
        };
        var url = ApiServerPath + "/api/services/app/RabbitMqService/AddToQueue";
        $.ajax({
            url: url,
            type: 'POST',
            cache: false,
            async: true,
            contentType: "application/json",
            data: JSON.stringify(auctionHistoryDto) ,
            dataType: "json",
            success: function (response) {
                //$("#currentUserAuctionHistoryCount").val(response.result.historyCount);
                //$("#auctionBidderId").val(response.result.auctionBidderId);
                //$("#myModal").modal("hide");
                //$("#biddingAmount").val("");
                //GetAuctionItemHistory(auctionHistoryDto.auctionItemId);
            },
            error: function (xhr) {
                $("#myModal").modal("hide");
                console.log(xhr.responseText + " " + xhr.status);
                alert(xhr.responseText + " " + xhr.status);
            }
        });
        function GetAuctionItemHistory(auctionItemId) {
            var url = ApiServerPath + "/api/services/app/AuctionHistory/GetHistorbyAuctionItemId?auctionItemId=" + auctionItemId;
            $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            async: true,
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                var itemHistories = response.result.items;
                $("#itemHistories").empty();
                $.each(itemHistories, function (i, v) {
                    CreateHistoryData(v);
                });
            },
            error: function (xhr) {
                console.log(xhr.responseText + " " + xhr.status);
                alert(xhr.responseText + " " + xhr.status);
            }
        });
        }
    }
</script>
<script src="~/auction/js/closedproductdetails.js"></script>
<script src="~/signalr.js"></script>
<script src="~/auction/js/bid-signalr.js"></script>
}
