<div class="inner-wrapper">

    <div class="content-wrapper have-sidename pt-80">

        <div class="container position-relative">
            <div class="side-name v-center">
                Silent Auctions
            </div>
            <div class="event-details">
                <div class="row col-gap-20 align-items-center">
                    <div class="col-lg-8 col-md-7">
                        <div class="golf-event bg-transparent box-shadow-n">

                            <div class="event-slider slick-instance slider-loader" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "arrows": true, "infinite": false, "dots": false, "autoplay": true}'>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                                <div class="image">
                                    <img src="~/auction/images/event-slider-img.png" alt="">
                                    <div class="numeric">123</div>
                                    <a href="#" class="wishlist"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 mt--81">
                        <div class="countdown-wrapper">
                            <img src="~/auction/images/timer-icon.png" alt="">
                            <span class="time-left">time left</span>
                            <div id="defaultCountdown"></div>
                        </div>
                        <div class="golf-event details">
                            <div class="desc ">
                                <p class="name">Wilson Launchpad <br> (owned by Stephen Amell)</p>
                                <ul>
                                    <li>
                                        Last Bid:
                                        <span>$4,000.00</span>
                                    </li>
                                    <li>
                                        FMV:
                                        <span>$200.00</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        # of Bids:
                                        <span>26</span>
                                    </li>
                                    <li>
                                        # of Watchers:
                                        <span>5</span>
                                    </li>
                                </ul>

                                <div class="bid">


                                    <div class="green-text text-center">Want to place a bid?</div>
                                    <div class="button-row mb-30">
                                        <a href="#" class="btn btn-primary">REGISTER NOW</a>
                                    </div>

                                    <div class="black-text text-center">Already have an account?</div>
                                    <div class="button-row">
                                        <a href="#" class="btn btn-default">SIGN IN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="inner pb-0">
                    <div class="card-heading">
                        Item Description
                    </div>
                    <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proiden.
                    </p>
                    <p class="desc">
                        Punt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                        et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                    <p class="desc mb-70">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <div class="share-wrapper">
                        <div class="text">
                            Share this:
                        </div>
                        <ul>
                            <li>
                                <a href="#" class="fb"></a>
                            </li>
                            <li>
                                <a href="#" class="twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="o-social"></a>
                            </li>
                            <li>
                                <a href="#" class="share"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
