@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Http
@using NextGen.BiddingPlatform.Configuration
@using Microsoft.Extensions.Configuration
@inject IWebHostEnvironment env
@inject IHttpContextAccessor _context
@{
    var appConfiguration = env.GetAppConfiguration();
    var apiServerPath = ConfigurationBinder.GetValue<string>(appConfiguration, "App:ApiWebSiteRootAddress", string.Empty);
}
<div class="inner-wrapper">
    <div class="content-wrapper">
        <div class="container position-relative current-bids">
            <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-light">
                <span class="active-text"></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" asp-controller="Home" asp-action="CurrentBids">Current Bids</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link text-uppercase" href="#">Watch List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" asp-controller="Home" asp-action="RecentlyViewed">Recently Viewed</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="usersWatchListAuctionItems"></div>
            <div class="empty-img empty-view" style="display:none;">
                <img src="~/Common/Images/empety-faviorate-view.png" />
                <div>
                    <span class="headingSmall"><b>No Watched Items</b></span>
                    <span class="paraLine"><span class="clickred">Click here</span> to start bidding on items</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="userWatchListAuctionItemBidTemplate" type="x-tmpl-mustache">
        <div id="current-bid-section">
                <div class="row mt-20 position-relative" style="margin-left:0; margin-right:0px;">
                    <div class="col-md-3">
                        <img src="{{imageName}}" style="max-width:100%" />
                        <div class="abs-item-id">{{itemNumber}}</div>
                        <img style="position: absolute;
    right: 22px;
    top: 17px;" src="/auction/images/svg/star-icon.svg" />
                    </div>
                    <div class="col-md-9">
                        <div class="item-section">
                            <h5 class="item-title">{{itemName}}</h5>
                            <div class="timmer-section"><img src="/Common/Images/timer.png" style="width:18px;" />  <span data-itemId="{{auctionItemId}}"></span></div>
                            <div class="bidding-info row">
                                <div class="col-5 winning-section">
                                    <span>Current Bid:</span>
                                    <h5 class="winning-amt">${{lastBidAmount}}</h5>
                                </div>
                                <div class="col-7 winning-btn-section">
                                    <button class="btn btn-primary" style="text-transform:uppercase;max-width:200px;" id="btnViewItemDetail" data-url="{{url}}">BID NOW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</script>
@section Scripts{
    <script>
        var ApiServerPath = "@apiServerPath";
        var userId = '@ViewBag.UserId';
        var tenantId = '@ViewBag.TenantId';
        $("li.myActivity").addClass("active");
        $(function () {
            var activeText = $("li.nav-item.active").text();
            $(".active-text").text(activeText);
        });

        var route = ApiServerPath + "/api/services/app/UserFavoriteItem/GetUserWatchListItems?userId=" + userId + "&tenantId=" + tenantId;
        if (userId !== "") {
            $.getJSON(route, "", function (response) {

                if (response.result !== null) {
                    $("#usersWatchListAuctionItems").empty();
                    if (response.result.length == 0) {
                        $(".empty-img.empty-view").show();
                    }
                    $.each(response.result, function (i, v) {
                        if (!v.isAuctionExpired) {
                            v.imageName = ApiServerPath + v.imageName;

                            if (v.isClosedItemStatus) {
                                v.url = "/Home/ProductDetailClosedWithLogin?id=" + v.auctionItemId + "&itemStatus=" + v.itemStatus;
                            }
                            else {
                                v.url = "/Home/ProductDetailWithLogin?id=" + v.auctionItemId + "&itemStatus=" + v.itemStatus;
                            }

                            var output = Mustache.render($("#userWatchListAuctionItemBidTemplate").html(), v);
                            $("#usersWatchListAuctionItems").append(output);


                            var endDate = new Date(Date.parse(v.auctionEndDateTime));

                            if (parseInt(v.remainingDays) > 0) {
                                $('span[data-itemId="' + v.auctionItemId + '"]').countdown({
                                    until: endDate,
                                    layout: ' {dn} {dl}  '
                                });
                            }
                            else {
                                $('span[data-itemId="' + v.auctionItemId + '"]').countdown({
                                    until: endDate,
                                    layout: ' {hn} {hl} {mn} {ml} {sn} {sl} '
                                });
                            }
                        }
                    });
                }
                else {
                    alert("Error occured!!");
                }
            });
        }
        $(document).on("click", "#btnViewItemDetail", function (e) {
            e.preventDefault();

            location.href = $(this).attr("data-url");
        });
    </script>
}