<div appBsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #stateCreateForm="ngForm" role="form" novalidate class="form-validation" *ngIf="active"
                (submit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"CreateNewAccount" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="firstName">First Name *</label>
                                <input id="firstName" #firstNameInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':account.firstName}" name="firstName"
                                    [(ngModel)]="account.firstName" #firstName="ngModel" required maxlength="64">
                                <validation-messages [formCtrl]="firstNameInput"></validation-messages>
                            </div>
                            <div class="col-xl-6">
                                <label for="lastName">Last Name *</label>
                                <input id="lastName" #lastNameInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':account.lastName}" name="lastName"
                                    [(ngModel)]="account.lastName" #lastName="ngModel" required maxlength="64">
                                <validation-messages [formCtrl]="lastNameInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="email">Email *</label>
                                <input id="email" #emailInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':account.email}" name="email" [(ngModel)]="account.email"
                                    #email="ngModel" required maxlength="64">
                                <validation-messages [formCtrl]="emailInput"></validation-messages>
                            </div>
                            <div class="col-xl-6">
                                <label for="phoneNo">Phone Number *</label>
                                <input id="phoneNo" #phoneNoInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':account.phoneNo}" name="phoneNo" [(ngModel)]="account.phoneNo"
                                    #phoneNo="ngModel" required maxlength="64">
                                <validation-messages [formCtrl]="phoneNoInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="address.address1">Address 1 *</label>
                                <input id="address.address1" #address1Input="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':account.address.address1}" name="address.address1"
                                    [(ngModel)]="account.address.address1" #address.address1="ngModel" required maxlength="64">
                                <validation-messages [formCtrl]="address1Input"></validation-messages>
                            </div>
                            <div class="col-xl-6">
                                <label for="address2">Address 2</label>
                                <input id="address2" #address2Input="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':account.address.address2}" name="address2"
                                    [(ngModel)]="account.address.address2" #address1="ngModel" maxlength="64">
                                <validation-messages [formCtrl]="address2Input"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="CountryCombobox">Country Name *</label>
                                <select #CountryCombobox name="countryName" class="form-control bs-select"
                                    [(ngModel)]="account.address.countryUniqueId" (onChange) = "loadStateList($event.target.value)" required>
                                    <option *ngFor="let country of countryList" [value]="country.uniqueId">
                                        {{country.countryName}}</option>
                                </select>
                            </div>
                            <div class="col-xl-6">
                                <label for="StateCombobox">State Name *</label>
                                <select #StateCombobox name="stateName" [disabled] = "stateDropdown" class="form-control bs-select"
                                    [(ngModel)]="account.address.stateUniqueId" required>
                                    <option *ngFor="let state of stateList" [value]="state.uniqueId">{{state.stateName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xl-6">
                                <label for="city">City *</label>
                                <input id="city" #cityInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':account.address.city}" name="city" [(ngModel)]="account.address.city"
                                    #address1="ngModel" required maxlength="64">
                                <validation-messages [formCtrl]="cityInput"></validation-messages>
                            </div>
                            <div class="col-xl-6">

                                <label for="zipCode">Zip Code *</label>
                                <input id="zipCode" #zipCodeInput="ngModel" class="form-control" type="text"
                                    [ngClass]="{'edited':account.address.zipCode}" name="zipCode" [(ngModel)]="account.address.zipCode"
                                    #address1="ngModel" required maxlength="10">
                                <validation-messages [formCtrl]="zipCodeInput"></validation-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                        class="btn btn-primary"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>